<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i>
      Home
    </a>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <a href="#" class="btn btn-secondary">Edit</a>
      <button class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>
<div *ngIf="user" class="card">
  <h3 class="card-header">
    {{ user.name }}
  </h3>
  <div class="card-block">
    <div class="row">
      <div class="col-md-8">
        <h4>User ID: {{id}}</h4>
      </div>
      <div class="col-md-4">
        <!-- Balance -->
        <h3 class="pull-right">
          <span [ngClass]="hasBalance ? 'text-danger' : 'text-success'">{{ user.balance }}元</span>
          <small>
            <a (click)="showBalanceUpdateInput=!showBalanceUpdateInput">
              <i class="fa fa-pencil"></i>
            </a>
          </small>
        </h3>
        <form *ngIf="showBalanceUpdateInput" (submit)="updateBalance(id)" class="form-inline pull-right">
          <div class="form-group">
            <input type="text" class="form-control" name="balance" [(ngModel)]="user.balance">
          </div>
          <button class="btn btn-primary" type="submit">Update</button>
        </form>
      </div>
    </div>
  </div>
  <div class="list-group">
    <div class="list-group-item">
      Email: {{ user.email }}
    </div>
    <div class="list-group-item">
      Phone: {{ user.phone }}
    </div>
  </div>
</div>
